footer {
	max-width: 480px;
	padding-top: 24px;
	padding-bottom: 10px;
	margin: -1px auto 0 auto;
	display: block;
}

footer p {
	opacity: .5;
}

footer p img {
	vertical-align: middle;
	margin-top: 5px;
}

footer .gray {
	color: #c9c9c9;
	max-width: 85%;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 375px) {
	
	footer {
		padding-top: 20px;
	}

}