@import url('../font/style.css');

body,
html {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: "Avenir Roman", sans-serif;
	color: #353535;
	transition: all .3s ease;
	background-color: #616161;
}

main {
	display: block;
	max-width: 480px;
	margin: 0 auto;
}

section {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-family: 'Mont', sans-serif;
}

h2 {
	font-size: 23.99px;
	margin-bottom: 18px;
}

a {
	display: block;
	font-size: 18.66px;
	letter-spacing: -0.0025em;
	text-decoration: underline;
	color: #55ade9;
	transition: all .3s ease;
}

p {
	font-size: 18.66px;
	letter-spacing: -0.0025em;
	color: #FFF;
}

.btn {
	font-family: "Avenir Heavy";
	color: #FFF;
	text-decoration: none;
	height: 60px;
	border: 3px solid #FFF;
	line-height: 40px;
	border-radius: 30px;
	width: 211px;
	max-width: calc(75% - 20px);
	margin: 0 10px;
}

.btn:hover {
	color: #00008f;
	background-color: #FFF;
}

.btn.red {
	background-color: #ff1721;
	border-color: #ff1721;
}

.btn.red:hover {
	color: #ffe400;
	background-color: #e10505;
	border-color: #e10505;
}

.btn.blue {
	color: #FFF !important;
	background-color: #52b2eb;
	border-color: #52b2eb;
}

.btn.thin {
	height: 52px;
	line-height: 33px;
}

.btn.disabled,
.btn.disabled:hover {
	opacity: 1;
	background-color: #353535;
	border-color: #353535;
	color: #FFF;
	pointer-events: none;
}

.bg-lamp {
	background-image: url(../img/lamp-bg.jpg);
	background-position: bottom center;
}

.bg-flower {
	background-image: url(../img/flower-bg.jpg);
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.bg-blue {
	background-color: #00008f;
}

.cl-blue {
	color: #00008f;
}

.cl-white {
	color: #FFF;
}

.cl-black {
	color: #282828;
}

.cl-red {
	color: #ff1721;
}

label {
	font-family: "Avenir Medium", sans-serif;
	font-size: 16.66px;
	color: #FFF;
	display: block;
}

.form-group .d-flex {
	position: relative;
}

.form-control {
	font-family: "Avenir Roman", sans-serif;
	background-color: #FFFFFF20;
	border-radius: 0;
	border: none;
	color: #FFF;
	transition: all .3s ease;
}

.form-control.input-big {
	font-family: "Avenir Black", sans-serif;
	font-size: 52.14px;
}

.form-control.cl-black {
	color: #282828;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form-control.date {
	display: inline-block;
	vertical-align: middle;
}

.form-control.date:nth-child(1) {
	width: 22%;
}

.form-control.date:nth-child(2) {
	width: 37%;
	margin: 0 5%;
}

.form-control.date:nth-child(3) {
	width: 31%;
}

.img-wrapper {
	display: block;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.img-wrapper>* {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.profile-detail {
	padding-top: 24px;
}

.profile-detail .img-wrapper {
	width: 66px;
	height: 66px;
	background-color: #e1e1e1;
	border-radius: 50%;
	border: 1px solid #00008f;
	margin-bottom: 22px;
}

.profile-detail p {
	margin-bottom: 0;
	font-size: 18.66px;
	color: #707070;
	line-height: 25px;
}

.profile-detail .name {
	font-family: "Avenir Heavy", sans-serif;
	font-size: 20.66px;
	color: #000;
}

.profile-detail .email {
	color: #0096e4;
}

ul.checkmark {
	list-style-type: none;
	padding-left: 0;
}

ul.checkmark li {
	position: relative;
	padding-left: 32px;
}

ul.checkmark li>.fa-check-square {
	content: "\f14a";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	color: #42b000;
	background-color: #FFF;
	font-size: 25px;
	line-height: 20px;
	border-radius: 3px;
}

ul.checkmark li h3 {
	font-family: "Avenir Heavy", sans-serif;
	font-size: 19.99px;
	color: #ffe400;
}

ul.checkmark li p {
	color: #cacafd;
}

.content-wrap {
	background-color: #FFF;
	margin-top: 30px;
	margin-bottom: 27px;
	padding: 25px 25px 30px 25px;
	-webkit-box-shadow: 0px -3px 10px -2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px -3px 10px -2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px -3px 10px -2px rgba(0, 0, 0, 0.6);
	border-radius: 12px;
}

.content-wrap .list {
	max-height: 473px;
	overflow-y: scroll;
	margin-right: -20px;
	padding-right: 12px;
}

.content-wrap .list::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #FFF;
}

.content-wrap .list::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
	left: 10px;
}

.content-wrap .list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #a5a5a5;
}

.content-wrap .list p {
	font-family: "Avenir Medium", sans-serif;
	font-size: 17.99px;
	color: #010101;
	padding: 15px 0;
	border-bottom: 1px solid #EEE;
	cursor: pointer;
	margin-bottom: 0;
	transition: all .3s ease;
}

.content-wrap .list p.active,
.content-wrap .list p.active:hover {
	color: #ffe400;
	background-color: #e10505;
	border-color: #e10505;
}

.content-wrap .list p:hover {
	background-color: #eaeaea;
}

.content-wrap .list p:nth-last-child(1) {
	border-bottom: 0;
	padding-bottom: 0;
}

.content-wrap hr {
	margin: 0 -25px;
	border-top: 2px dashed #a7a7a7;
	margin-bottom: 20px;
}

.no-shadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.bd-gray {
	border: 1.5px solid #e0e0e0;
}

.rounded {
	border-radius: 8px !important;
	height: 44px;
}

.radio-wrapper {
	padding: 6px 12px;
}

.radio-wrapper span {
	vertical-align: text-bottom;
	margin-left: 5px;
}

.radio-wrapper.half {
	width: 47%;
}

input[type="radio"] {
	opacity: 0;
	cursor: pointer;
	width: 22px;
	height: 22px;
	z-index: 10;
	position: relative;
}

.form-group .checkmark {
	width: 22px;
	height: 22px;
	border: 1px solid #CCC;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: 0;
}

input[type="radio"]:checked~.checkmark:after {
	display: block;
	content: "";
	width: 14px;
	height: 14px;
	background-color: #0078ff;
	border-radius: 50%;
	position: absolute;
	top: 2.5px;
	left: 17%;
}

.is-countdown {
	background-color: transparent !important;
	border: none !important;
	margin-bottom: 20px;
}

.is-countdown .countdown-section {
	display: inline-block;
	float: none;
	width: unset !important;
}

.countdown-section .countdown-amount,
.is-countdown .ticker {
	font-size: 46.65px;
	color: #ff1721;
}

.is-countdown .ticker {
	content: ":";
	display: inline;
	vertical-align: top;
	margin: 0 10px;
	line-height: 60px;
}

.is-countdown .ticker:nth-last-child(1) {
	display: none;
}

.countdown-section .countdown-period {
	font-size: 16.11px;
	color: #919191;
}

.section-cta p {
	font-family: "Avenir Black", sans-serif;
	font-size: 18px;
}

h2.section-title {
	color: #00008f;
	line-height: 20px;
	margin-top: 10px;
}

h2.section-title::after {
	display: block;
	content: '';
	width: 70px;
	height: 4px;
	background-color: #ff1721;
	margin: 8px auto;
}

.detail-item {
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 35px;
	padding-right: 35px;
}

.detail-item img {
	margin-bottom: 20px;
}

.detail-item p {
	font-family: "Avenir Medium", sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #353535;
	margin-bottom: 0;
}

.merchant .logo {
	margin-bottom: 25px;
	opacity: .35;
}

@media (max-width: 375px) {

	h2 {
		font-size: 21.99px;
	}

	.profile-detail .name {
		font-size: 18.66px;
	}

	p,
	a,
	.profile-detail p {
		font-size: 16.66px;
		line-height: 23px;
	}

	.btn {
		height: 55px;
		line-height: 35px;
	}

	ul.checkmark li h3 {
		font-size: 17.99px;
	}

	.countdown-section .countdown-amount,
	.is-countdown .ticker {
		font-size: 44px;
	}

	.countdown-section .countdown-period {
		font-size: 14px;
	}

	.btn.thin {
		max-width: unset;
	}

	input[type="radio"]:checked~.checkmark:after {
		left: 15%;
	}

}

@media (max-width: 320px) {

	h2 {
		font-size: 18px;
	}

	.profile-detail {
		padding-top: 10px;
	}

	.profile-detail .img-wrapper {
		margin-bottom: 10px;
	}

	.profile-detail .name {
		font-size: 16px;
	}

	p,
	a,
	.profile-detail p {
		font-size: 14px;
		line-height: 20px;
	}

	ul.checkmark li h3 {
		font-size: 15px;
	}

	ul.checkmark li>.fa-check-square {
		font-size: 22px;
		line-height: 18px;
	}

	.btn {
		height: 50px;
		line-height: 32px;
		font-size: 14px;
	}

	.form-control.input-big {
		font-size: 42px;
	}

	.is-countdown {
		margin-bottom: 10px;
	}

	.countdown-section .countdown-amount,
	.is-countdown .ticker {
		font-size: 40px;
	}

	.is-countdown .ticker {
		line-height: 50px;
	}

	.countdown-section .countdown-period {
		font-size: 12px;
	}

	.section-cta p {
		font-size: 16px;
	}

	.detail-item p {
		font-size: 14px;
		line-height: 18px;
	}

	.detail-item {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 20px;
	}

	.radio-wrapper span {
		font-size: 14px;
	}

}